# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
out/
build/
coverage/
*.tsbuildinfo

# VS Code settings
.vscode/
.vscode-test/

# Webpack cache
.cache/
webpack-stats.json

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# VSCE package files
*.vsix

# Misc
*.log